### 추석 또는 연휴 기간동안의 교통량 증가율

In [3]:
import numpy as np
import pandas as pd

data=pd.read_csv("TCS_주간+교통분석(교통량)_1일_1년_2019/TCS_D3_04_04_888332.csv", encoding='CP949')
data.head()

,일자,영업소명,방향구분,영업소코드,기점종점방향구분코드,당일교통량,전주교통량,전전주교통량,전월평균교통량,전년동주교통량,전년평균교통량
0,20190102.0,구리남양주,서울방향,6.0,2.0,93775.0,98074.0,99906.0,96135.0,0.0,99867.0
1,20190103.0,구리남양주,서울방향,6.0,2.0,98413.0,97745.0,100088.0,96135.0,0.0,99867.0
2,20190104.0,구리남양주,서울방향,6.0,2.0,101327.0,103745.0,107940.0,96135.0,0.0,99867.0
3,20190105.0,구리남양주,서울방향,6.0,2.0,92325.0,90912.0,99186.0,96135.0,0.0,99867.0
4,20190106.0,구리남양주,서울방향,6.0,2.0,71582.0,74171.0,78815.0,96135.0,0.0,99867.0

In [4]:
data.isnull().sum()

일자             730
 영업소명          730
 방향구분          730
영업소코드          730
 기점종점방향구분코드    730
 당일교통량         730
 전주교통량         730
 전전주교통량        730
 전월평균교통량       730
 전년동주교통량       730
 전년평균교통량       730
dtype: int64

In [5]:
data=data.dropna(axis=0)
data.isnull().sum()

일자             0
 영업소명          0
 방향구분          0
영업소코드          0
 기점종점방향구분코드    0
 당일교통량         0
 전주교통량         0
 전전주교통량        0
 전월평균교통량       0
 전년동주교통량       0
 전년평균교통량       0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3864 entries, 0 to 3863
Data columns (total 11 columns):
일자             3864 non-null float64
 영업소명          3864 non-null object
 방향구분          3864 non-null object
영업소코드          3864 non-null float64
 기점종점방향구분코드    3864 non-null float64
 당일교통량         3864 non-null float64
 전주교통량         3864 non-null float64
 전전주교통량        3864 non-null float64
 전월평균교통량       3864 non-null float64
 전년동주교통량       3864 non-null float64
 전년평균교통량       3864 non-null float64
dtypes: float64(9), object(2)
memory usage: 362.2+ KB

In [7]:
data.columns=data.columns.str.strip()
data.columns

Index(['일자', '영업소명', '방향구분', '영업소코드', '기점종점방향구분코드', '당일교통량', '전주교통량', '전전주교통량',
       '전월평균교통량', '전년동주교통량', '전년평균교통량'],
      dtype='object')

In [8]:
data=data.astype({'일자':int,
                  '영업소코드':int, 
                  '기점종점방향구분코드':int, 
                  '당일교통량':int,
                  '전주교통량':int,
                  '전전주교통량':int, 
                  '전월평균교통량':int, 
                  '전년동주교통량':int,
                  '전년평균교통량':int})
data.head(3)

,일자,영업소명,방향구분,영업소코드,기점종점방향구분코드,당일교통량,전주교통량,전전주교통량,전월평균교통량,전년동주교통량,전년평균교통량
0,20190102,구리남양주,서울방향,6,2,93775,98074,99906,96135,0,99867
1,20190103,구리남양주,서울방향,6,2,98413,97745,100088,96135,0,99867
2,20190104,구리남양주,서울방향,6,2,101327,103745,107940,96135,0,99867

In [9]:
data['영업소명'].unique()

array(['구리남양주', '서울', '동서울', '서서울', '남양주', '전구간'], dtype=object)

In [10]:
data['방향구분'].unique()

array(['서울방향', '지방방향', '양방향'], dtype=object)

- 총교통량

In [11]:
total=data.drop([ '방향구분', '영업소코드', '기점종점방향구분코드', '전년동주교통량', '전년평균교통량'], axis=1)

# 일자로 groupby. (영업소 구분x)
total=total.groupby(['일자']).sum()
total.head(3)

            당일교통량    전주교통량   전전주교통량  전월평균교통량
일자
20190101  4355834  3997928  5019709  4965918
20190102   723906   752770   751342   744298
20190103  4853805  4965393  5121436  4965918

- 2019년 추석연휴 9월12~15일. 추석9/13

In [12]:
date=range(20190912,20190916)

chuseok19 = total.loc[date]
chuseok19

            당일교통량    전주교통량   전전주교통량  전월평균교통량
일자
20190912  5764190  5052335  5299278  5447679
20190913  7017734  5587281  5882335  5447679
20190914  5858019  3602932  6138893  5447679
20190915  4657033  4431920  5418702  5447679

In [13]:
prev=chuseok19.iloc[:,[1,2,3]].mean(axis=1)
prev

일자
20190912    5.266431e+06
20190913    5.639098e+06
20190914    5.063168e+06
20190915    5.099434e+06
dtype: float64

In [236]:
# 추석의 교통량 증가율 

rate=(chuseok19.iloc[:,0]-prev)/prev *100
rate

일자
20190912     9.451550
20190913    24.447803
20190914    15.698689
20190915    -8.675486
dtype: float64

--> 추석 당일날 24% 증가.

In [ ]:
## 설연휴도 해봤는데 설연휴는 의미가 없었음.

- 2018년 비교

In [219]:
data18=pd.read_csv("TCS_주간+교통분석(교통량)_1일_1년_2018/TCS_D3_04_04_585131.csv", encoding='CP949')
data18.head()

,일자,영업소명,방향구분,영업소코드,기점종점방향구분코드,당일교통량,전주교통량,전전주교통량,전월평균교통량,전년동주교통량,전년평균교통량
0,20180104.0,구리남양주,서울방향,6.0,2.0,98222.0,101302.0,92920.0,94859.0,102826.0,103854.0
1,20180110.0,구리남양주,서울방향,6.0,2.0,93010.0,97818.0,99758.0,94859.0,102730.0,103854.0
2,20180101.0,구리남양주,서울방향,6.0,2.0,78055.0,75696.0,80035.0,94859.0,97479.0,103854.0
3,20180101.0,구리남양주,지방방향,6.0,3.0,77987.0,79411.0,75121.0,92163.0,98167.0,99595.0
4,20180111.0,구리남양주,서울방향,6.0,2.0,94480.0,98222.0,101302.0,94859.0,102869.0,103854.0

In [238]:
data18.isnull().sum()

일자             728
 영업소명          728
 방향구분          728
영업소코드          728
 기점종점방향구분코드    728
 당일교통량         728
 전주교통량         728
 전전주교통량        728
 전월평균교통량       728
 전년동주교통량       728
 전년평균교통량       728
dtype: int64

In [240]:
data18=data18.dropna(axis=0)
data18.isnull().sum()

일자             0
 영업소명          0
 방향구분          0
영업소코드          0
 기점종점방향구분코드    0
 당일교통량         0
 전주교통량         0
 전전주교통량        0
 전월평균교통량       0
 전년동주교통량       0
 전년평균교통량       0
dtype: int64

In [243]:
data18.columns=data18.columns.str.strip()
data18=data18.astype({'일자':int,
                  '영업소코드':int, 
                  '기점종점방향구분코드':int, 
                  '당일교통량':int,
                  '전주교통량':int,
                  '전전주교통량':int, 
                  '전월평균교통량':int, 
                  '전년동주교통량':int,
                  '전년평균교통량':int})
data18.head(3)

,일자,영업소명,방향구분,영업소코드,기점종점방향구분코드,당일교통량,전주교통량,전전주교통량,전월평균교통량,전년동주교통량,전년평균교통량
0,20180104,구리남양주,서울방향,6,2,98222,101302,92920,94859,102826,103854
1,20180110,구리남양주,서울방향,6,2,93010,97818,99758,94859,102730,103854
2,20180101,구리남양주,서울방향,6,2,78055,75696,80035,94859,97479,103854

In [244]:
total=data18.drop([ '방향구분', '영업소코드', '기점종점방향구분코드', '전년동주교통량', '전년평균교통량'], axis=1)

# 일자로 groupby. (영업소 구분x)
total=total.groupby(['일자']).sum()
total.head(3)

           당일교통량   전주교통량  전전주교통량  전월평균교통량
일자
20180101  668066  628662  629244   726250
20180102  715616  747577  715435   726250
20180103  720986  734243  702526   726250

- 2018년 추석 연휴 23~26. 추석당일 24일, 대체휴일 26일

In [253]:
date=range(20180923,20180927)

chuseok18 = total.loc[date]
chuseok18

            당일교통량    전주교통량   전전주교통량  전월평균교통량
일자
20180923  5134913  4976126  5292259  5188629
20180924  6902428  1559715  5354711  5188629
20180925  5946789  5472445  5317505  5188629
20180926   746053   811632   798468   780550

In [254]:
prev18=chuseok18.iloc[:,[1,2,3]].mean(axis=1)
prev18

일자
20180923    5.152338e+06
20180924    4.034352e+06
20180925    5.326193e+06
20180926    7.968833e+05
dtype: float64

In [255]:
# 추석의 교통량 증가율 

rate=(chuseok18.iloc[:,0]-prev)/prev *100
rate

일자
20180923    -0.338196
20180924    71.091381
20180925    11.651775
20180926    -6.378642
dtype: float64

--> 추석당일날 71% 증가