In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data
data = pd.read_csv("코로나데이터.csv")

In [3]:
data.head()

,c_ymd일,"SPLIT([시간],':',1)+'시'",c_ymd,C_시간 + 기준,C_일자별 총 확진자수(추이),확진환자(소계)_차이
0,2020년 8월 28일,NaN,2020. 8. 28.,0시 기준,371.0,371
1,2020년 8월 27일,NaN,2020. 8. 27.,0시 기준,441.0,441
2,2020년 8월 26일,NaN,2020. 8. 26.,0시 기준,320.0,320
3,2020년 8월 25일,NaN,2020. 8. 25.,0시 기준,280.0,280
4,2020년 8월 24일,NaN,2020. 8. 24.,0시 기준,266.0,266

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   c_ymd일                 458 non-null    object
 1   SPLIT([시간],':',1)+'시'  241 non-null    object
 2   c_ymd                  458 non-null    object
 3   C_시간 + 기준              458 non-null    object
 4   C_일자별 총 확진자수(추이)       217 non-null    float64
 5   확진환자(소계)_차이            458 non-null    int64
dtypes: float64(1), int64(1), object(4)
memory usage: 21.6+ KB

In [5]:
data = data[["c_ymd", "확진환자(소계)_차이"]]

In [6]:
data.head()

          c_ymd  확진환자(소계)_차이
0  2020. 8. 28.          371
1  2020. 8. 27.          441
2  2020. 8. 26.          320
3  2020. 8. 25.          280
4  2020. 8. 24.          266

In [7]:
data["c_ymd"] = pd.to_datetime(data["c_ymd"], format = '%Y. %m. %d.')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   c_ymd        458 non-null    datetime64[ns]
 1   확진환자(소계)_차이  458 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 7.3 KB

In [40]:
data.head()

       c_ymd  확진환자(소계)_차이
0 2020-08-28          371
1 2020-08-27          441
2 2020-08-26          320
3 2020-08-25          280
4 2020-08-24          266

In [9]:
data.columns = ["날짜", "확진자수"]

In [10]:
data.loc[217,]

날짜      2020-03-01 00:00:00
확진자수                    376
Name: 217, dtype: object

In [42]:
data.to_csv("일별확진자수.csv")