In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.rc('font',family='NanumGothic')
mpl.rcParams['axes.unicode_minus']=False

In [2]:
os.chdir('C:/Users/USER/Desktop/경기도코로나공모전')
seoul=pd.read_csv('서울시 코로나19 확진자 현황.csv',encoding='cp949')
seoul.head()

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'C:/Users/USER/Desktop/경기도코로나공모전'

In [4]:
seoul=seoul.iloc[:,1:3]
seoul_number=seoul['환자번호'].groupby(seoul['확진일']).count()
seoul_number=pd.DataFrame(seoul_number)
seoul_number.head()

       환자번호
확진일
1.24.     1
1.30.     3
1.31.     3
2.16.     2
2.19.     2

In [5]:
seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4904 entries, 0 to 4903
Data columns (total 2 columns):
확진일     4904 non-null object
환자번호    4904 non-null int64
dtypes: int64(1), object(1)
memory usage: 76.8+ KB

In [8]:
seoul_number=seoul_number.reset_index()
for i in range(len(seoul_number)):
    seoul_number.loc[i,'확진일']='2020.'+seoul_number.loc[i,'확진일']
seoul_number.head()

   index         확진일  환자번호
0      0  2020.1.24.     1
1      1  2020.1.30.     3
2      2  2020.1.31.     3
3      3  2020.2.16.     2
4      4  2020.2.19.     2

In [9]:
seoul_number=seoul_number.drop('index',axis=1)
seoul_number["확진일"] = pd.to_datetime(seoul_number["확진일"], format = '%Y.%m.%d.')
seoul_number.columns=['확진일','확진자수']
seoul_number.head()

         확진일  확진자수
0 2020-01-24     1
1 2020-01-30     3
2 2020-01-31     3
3 2020-02-16     2
4 2020-02-19     2

In [10]:
seoul_number['누적 확진자수']=np.cumsum(seoul_number['확진자수'],axis=0)
seoul_number=seoul_number.set_index('확진일')

In [ ]:
seoul_number